@font-face {
    font-family: 'Marsey';
    src: url('Marsey-Regular.woff2') format('woff2'),
        url('Marsey-Regular.woff') format('woff'),
        url('Marsey-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

